<ion-view view-title="消息">
  <ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-ios-arrow-back" menu-toggle="left">
				</button>
			</ion-nav-buttons>
      <ion-nav-buttons side="right">
				<button class="button button-icon button-clear">
				</button>
			</ion-nav-buttons>
  <ion-content>
		<i class="icon ion-sad-outline placeholder-icon tubiao" style="font-size:80px;"></i>  <!--placeholder-icon淡化颜色-->
    <div class="p1">
		<p style="text-align:center;">没有通知</p>
			<p style="text-align:center;">接受来自EffectWork的消息</p>
			</div>
  </ion-content>
</ion-view>
