<ion-view view-title="紧急不重要">
  <ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-ios-arrow-back" menu-toggle="left">分类
				</button>
			</ion-nav-buttons>
      <ion-nav-buttons side="right">
				<button class="button button-icon button-clear">
				</button>
			</ion-nav-buttons>
  <ion-content>
		<div class="list card">
  <a href="#" class="item item-icon-right">
    writing
    <i class="icon ion-ios-arrow-right" style="font-size:25px;"></i>
  </a>
  <a href="#" class="item item-icon-right">
    listening
    <i class="icon ion-ios-arrow-right" style="font-size:25px;"></i>
  </a>
  <a href="#" class="item item-icon-right">
    其他
    <i class="icon ion-ios-arrow-right" style="font-size:25px;"></i>
  </a>
</div>
  </ion-content>
</ion-view>
