<ion-view view-title="反馈">
  <ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-ios-arrow-back" menu-toggle="left">
				</button>
			</ion-nav-buttons>
      <ion-nav-buttons side="right">
				<button class="button button-icon button-clear">
				</button>
			</ion-nav-buttons>
  <ion-content>
		<div class="list">

  <a class="item" href="#">
    论坛
    <span class="item-note">
      help.dida365.com
    </span>
  </a>

  <a class="item" href="#">
    发送邮件反馈
    <span class="badge badge-assertive">0</span>
  </a>
	</div>
  </ion-content>
</ion-view>
