<ion-view view-title="个人中心">
  <ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-ios-arrow-back" menu-toggle="left">
				</button>
			</ion-nav-buttons>
      <ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-android-more-vertical">
				</button>
			</ion-nav-buttons>
  <ion-content>
   <div class="list">

  <a class="item" href="#/app/account">
    账户信息
  </a>

  <a class="item" href="#">
    高级功能
  </a>

	<div class="item item-divider">
      </div>

	<a class="item" href="#">
         我的等级
        <span class="item-note">
      初来乍到
    </span>
      </a>
	</div>
  </ion-content>
</ion-view>
