<!--<ion-header-bar class="bar-positive">
  </ion-header-bar>-->
<ion-view view-title="任务箱" hide-nav-bar="false" style="background-image:url(../img/1.1.jpg);background-repeat:repeat-y">
  <ion-content>
    <div class="list card ccc" style="border-radius:7px">
  <a href="#/app/finish" class="item item-icon-left item-icon-right">
    <i class="icon ion-ios-calendar-outline" style="font-size:25px;"></i>
    已完成
    <i class="icon ion-ios-arrow-right" style="font-size:25px;"></i>
  </a>
  <a href="#/app/notfinish" class="item item-icon-left item-icon-right">
    <i class="icon ion-ios-calendar" style="font-size:25px;"></i>
    未完成
    <i class="icon ion-ios-arrow-right" style="font-size:25px;"></i>
  </a>
  <a href="#/app/other" class="item item-icon-left item-icon-right">
    <i class="icon ion-compose" style="font-size:25px;"></i>
    其他
    <i class="icon ion-ios-arrow-right" style="font-size:25px;"></i>
  </a>
</div>
<div class="list card ccc" style="border-radius:7px">
  <a href="#/app/study" class="item item-icon-left item-icon-right">
    <i class="icon ion-ios-book-outline" style="font-size:25px;"></i>
    学习
    <i class="icon ion-ios-arrow-right" style="font-size:25px;"></i>
  </a>
  <a href="#/app/work" class="item item-icon-left item-icon-right">
    <i class="icon ion-android-desktop" style="font-size:25px;"></i>
    工作
    <i class="icon ion-ios-arrow-right" style="font-size:25px;"></i>
  </a>
  <a href="#/app/other" class="item item-icon-left item-icon-right">
    <i class="icon ion-compose" style="font-size:25px;"></i>
    其他
    <i class="icon ion-ios-arrow-right" style="font-size:25px;"></i>
  </a>
</div>

<div class="list list-inset ccc" style="border-radius:7px">
  <label class="item item-input">
    <i class="icon ion-ios-bookmarks-outline placeholder-icon" style="font-size:25px;"></i>
    <input type="text" placeholder="准备做什么？">
    <i class="icon ion-mic-a" style="font-size:25px;">&nbsp&nbsp&nbsp</i>
  </label>
</div>


    <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>
