<ion-view view-title="提醒设置">
  <!--<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-ios-arrow-back" menu-toggle="left">
				</button>
			</ion-nav-buttons>-->
      <ion-nav-buttons side="right">
				<button class="button button-icon button-clear">
				</button>
			</ion-nav-buttons>
  <ion-content>
    <ul class="list">
  <li class="item item-toggle">
		<i class="icon ion-android-notifications-none placeholder-icon" style="font-size:20px;"></i>
     铃声
     <label class="toggle toggle-calm">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
	<li class="item item-toggle">
		<i class="icon ion-android-notifications placeholder-icon" style="font-size:20px;"></i>
     振动
     <label class="toggle toggle-calm">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
	<li class="item item-toggle">
		<i class="icon ion-android-notifications-off placeholder-icon" style="font-size:20px;"></i>
     静音
     <label class="toggle toggle-calm">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>
  </ion-content>
</ion-view>
