<ion-view >
  <ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-ios-arrow-back" menu-toggle="left">
				</button>
			</ion-nav-buttons>
      <ion-nav-buttons side="right">
				<button class="button button-icon button-clear">
				</button>
			</ion-nav-buttons>
			<ion-nav-title>
    <ion-header-bar class="item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="搜索任务" ng-model="searchContent">
						<!--<i class="icon icon ion-mic-a placeholder-icon"></i>-->
        </label>
        <button class="button button-clear">
            取消
        </button>
    </ion-header-bar>
</ion-nav-title>
  <ion-content>
    <h1 style="text-align:center;">.....</h1>
  </ion-content>
</ion-view>
