<ion-view view-title="设置">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-arrow-back" menu-toggle="left">
				</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear">
				</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-reddit placeholder-icon" style="font-size:25px;"></i> 用户昵称
        <span class="item-note">
      Grammy
    </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker placeholder-icon" style="font-size:25px;"></i> 高级功能
      </a>

      <div class="item item-divider">
      </div>

      <a class="item item-icon-left" href="#/app/styleset">
        <i class="icon ion-ios-cog-outline " style="font-size:25px;"></i> 个性化设置
      </a>

      <a class="item item-icon-left" href="#/app/remind">
        <i class="icon ion-ios-alarm-outline" style="font-size:25px;"></i> 提醒设置
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-pricetags placeholder-icon" style="font-size:25px;"></i> 关于
        <span class="badge badge-assertive">0</span>
      </a>
      <div class="item item-divider">

      </div>
      <a class="item " href="#">
    退出登录
  </a>

      <a class="item " href="#">
    切换账号
  </a>
    </div>

  </ion-content>
</ion-view>