<ion-view view-title="设置" class="stable-bg">
  
      <ion-nav-buttons side="right">
				<button class="button button-icon button-clear">
				</button>
			</ion-nav-buttons>
  <ion-content>
		<div class="list">
  <div class="item range range-calm">
    <i class="icon ion-ios-time-outline"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="icon ion-ios-time"></i>
  </div>
  <div class="item range range-calm">
    <i class="icon ion-ios-time-outline"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="icon ion-ios-time"></i>
  </div>
  <div class="item range range-calm">
    <i class="icon ion-ios-time-outline"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="icon ion-ios-time"></i>
  </div>
  <div class="item range range-calm">
    <i class="icon ion-ios-time-outline"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="icon ion-ios-time"></i>
  </div>
  <div class="item item-divider">

      </div>
      <a class="item item-icon-right" href="#">
        <i class="icon ion-ios-arrow-right" style="font-size:25px;"></i>
    邮件反馈
  </a>
</div>
  </ion-content>
</ion-view>
